---
### Zabbix Agent 4.0 LTS

- name: Downloading Zabbix repo package
  get_url:
    url: https://repo.zabbix.com/zabbix/4.0/ubuntu/pool/main/z/zabbix-release/zabbix-release_4.0-2+bionic_all.deb
    dest: /root

- name: Add Zabbix repo
  register: zabbixrepoadded
  apt:
    deb: /root/zabbix-release_4.0-2+bionic_all.deb

- name: Install Zabbix Agent
  apt:
    update_cache: yes
    name: zabbix-agent
    state: latest

- name: Zabbix Agent log dir
  file:
    state: directory
    path: /var/log/zabbix-agent
    owner: zabbix
    group: zabbix
    mode: 0755

- name: Configure Zabbix
  template:
    src: roles/zabbix-agent/templates/zabbix_agentd.conf.j2
    dest: /etc/zabbix/zabbix_agentd.conf
    validate: 'zabbix_agentd -p -c %s'
  notify: restart zabbix-agent

# vi: set expandtab:
